{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container py-5">
    
    {% include 'partials/_messages.html' %}

      <div class="jumbotron">
        <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
        <p><strong>Email:</strong> {{request.user.email}}</p>
        <p><strong>Username:</strong> {{request.user.username}}</p> 
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-4" id="headings">
            <div class="card-header">My Addresses<span class="float-right"><a href="{% url 'store:add-address' %}">Add Address</a></span></div>
            <div class="card-body">
              {% if addresses %}
                {% for address in addresses %}
                  <h4 class="mb-3"> Address {{forloop.counter}}</h4> 
                  <span class="float-right"><a href="{% url 'store:remove-address' address.id %}"><i class="fas fa-trash-alt small text-muted"></i></a></span>
                  <p>
                    <strong>City: </strong>{{address.city}} <br>
                    <strong>Country: </strong>{{address.state}} <br>
                  </p>
                  <hr>
                {% endfor %}
              {% else %}
                <div class="text-danger">No Address Added.</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

  </div>

{% endblock content %}
